.carrousel-container{
    width: 90%;
}

.div-container-title{
    width: 100%;
    display: flex;
}
.div-container-title>span{
    margin-right: 10px!important;
}
.about-project{
    margin-top: 2rem;
    text-align: justify;
}
.img-logo-projects{
    width: 44px!important;
    height: auto;
}
.container-ancord-project{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width:767px){
    .div-container-title{
       justify-content: center;
    }
}