  .navbar{
    height: 15vh;
    width: 100%;
    background-color: white!important;
    box-shadow: 5px 6px 30px -7px;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1000;
  }
  .name-nav{
    margin: 0!important;
    font-size: 1.4rem;
  }
  .profileImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 15px;
  }
  
  .nav-link{
    font-weight: bold;
  }
  .nav-link:hover, .navbar-brand:hover{
    color: rgb(120, 67, 233)!important;
  }
  .navbar-collapse{
    display: flex;
      justify-content: end!important;
  }
  @media (max-width: 991px) {
    .navbar-collapse {
      background-color: white;
      width: 100%!important;
    }
    .container-fluid{
      --bs-gutter-x:0;
    }
    .navbar-toggler{
      margin-right: 10px;
    }
    .navbar-nav{
      width: 100%;
    }
    .navbar-collapse{
      padding: 15px;
    }
    .navbar-collapse>ul>li{
      border-bottom:solid 2px rgb(236, 236, 236) ;
    }
    .nav-link{
      text-align: end;
    }
  }

  @media(max-width:427px){
    .navbar{
      height: 13vh;
    }
    .name-nav{
      font-size: 1.7rem;
    }
  }