body {
    font-family: 'Merriweather Sans', sans-serif!important;
}
#projects, #about, #home{
  scroll-margin-top: 18vh!important;
}
.section-container-generic{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5rem;
}
.div-section-primary{
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2.8rem;
}
.title-section{
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.8rem;
  font-size: 2rem;
}
.spam-section-global{
  font-size: 1.2rem;
  text-align: center;
}

.title-spam{
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
.container-fluid{
  padding: 2rem;
}
.btn-projects{
  text-decoration: none;
  text-align: center;
  width: 30%;
  margin-top: 5rem;
  padding: 10px;
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  background-color: rgb(120, 67, 233);
  font-size: 1.2rem;
  transition: transform 0.3s ease; 
  transform: translate(0, 0);
}
.btn-projects:hover {
  transform: translateY(-5px); 
}
@media(max-width:768px){
  .spam-me{ 
      font-size: 1.2rem;
      width: 100%;
      text-align: justify;
  }
}
