
.spam-me{ 
    font-size: 1.2rem;
    width: 80%;
    text-align: justify;
}
.gif-list{
    width: 25%;
}

.skills{
    background-color: #E5E5E5;
    font-weight: bold;
    margin: 15px;
    padding: 10px;
    border-radius: 7px;
    width: fit-content;
}

@media(max-width:768px){
    #skills-div{
        margin-top: 2.8rem;
    }
    .spam-me{ 
        text-align: center;
        margin-bottom: 1rem;
        width: 100%;
    }
}